@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Secular+One&display=swap");

:root {
	background: linear-gradient(to right, #0c164d, #190b22);
}

body {
	background-image: url("../assets/star-transparent.png");
	background-size: contain;
	height: 100vh;
	width: 100vw;
	margin: 0;
}

/* Special CSS-styling to handle Mac/iOS "overscrolling" */
body:after {
	content: "";
	position: fixed;
	top: -50%;
	right: -50%;
	bottom: -50%;
	left: -50%;
	z-index: -1;
	background: linear-gradient(to right, #0c164d, #190b22);
}

h1 {
	font-size: 3.75rem;
	letter-spacing: 0.5rem;
}

h1,
.heading {
	font-family: "Secular One", sans-serif;
	color: white;
	margin: 0;
	font-weight: 300;
}

h3 {
	font-size: 1.5rem;
}

h3,
.sub-heading {
	font-family: "Lora", serif;
	font-optical-sizing: auto;
	font-weight: 100;
	letter-spacing: 1rem;
	color: #ffd029;
	margin: 0;
}

p,
.description {
	font-family: "Roboto Condensed", sans-serif;
	font-optical-sizing: auto;
	color: white;
}

a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
}
